*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
  --raregrey:#a6a69b;
  --bluepeacock:#014E4C;
  --kimonoviolet:#5D395F;
  --gulfstream:#01858B;
  --black:#211f20;
  --paradise:#6C7B30;
  /*headings*/
  --poppins:'Poppins', sans-serif;
  /*subheadings*/
  --roboto:'Roboto', sans-serif;
  /*body*/
  --montserrat:'Montserrat', sans-serif;
}

#wrapper{
    display: flex;
    position: relative;
}
#wrapper .sidebar{
   position: fixed;
   width: 200px;
   height: 100%; 
   background-color:var(--raregrey);
   padding: 15px 0;
}
#wrapper .sidebar header{
    color: var(--gulfstream);
    text-transform: capitalize;
    text-align: center;
    font-size: 22px;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}
#wrapper .sidebar ul li{
    list-style: none;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    padding: 15px;
}
#wrapper .sidebar ul li a{
    text-decoration: none;
    display: block;
    color: var(--kimonoviolet);
}
#wrapper .sidebar ul li a:hover{
    color: var(--bluepeacock);
}
#wrapper .sidebar .social_media{
   position: absolute;
   bottom: 0;
   left: 50%; 
   transform: translateX(-50%);
   display: flex;
}
#wrapper .sidebar .social_media a{
    display: block;
    width: 30px;
    text-align: center;
    margin: 0 5px;
    color: var(--bluepeacock);
}
#wrapper .sidebar .social_media a:hover{
    color: var(--paradise);
}

#wrapper .main-section{
    /* width: 80%;*/
   margin-left: 200px; 
}

/*HOME SECTION*/
#Home{
    padding-left: 2px;
}
#headings{
    text-align: center;
    color: var(--gulfstream);
    font-size: 25px;
    font-family: var(--poppins);
    text-decoration: underline;
    padding: 5px;
}
#Home .homeintro, #Home .homeframeworks, #Home .homewhy {
    font-family: var(--montserrat);
    word-wrap: normal;
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
#home .homewhy h4{
    text-align: left;
    font-family: var(--roboto);
}
.listlist {
    padding-left: 40px;
}

/*COMMENTS SECTION*/
#Comments{
    margin-left: 200px;
}
.comments p, .singlecomments, .multi-comments{
    font-family: var(--montserrat);
    padding: 2px;
    word-wrap: normal;
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
.commentslist{
    font-family: var(--montserrat);
    line-height: 30px;
}
.comment-span{
    color: red;
}
.js-code{
    background-color: rgba(211, 211, 211, .4);/*light grey*/
    margin-top: 5px;
}
/*
.commentcode code{
    text-align: left;
    IF TO USE (PRE AND CODE) OR (CODE AND LINE BREAK)  
}
*/
/*VARIABLES*/
#Variables{
    margin-left: 200px;
}
/*FUNCTION*/
#Function{
    margin-left: 200px;
}
.func-wrapper{
    font-family: var(--montserrat);
    padding: 2px;
    word-wrap: normal;
    line-height: 30px;
    overflow-x: hidden;
    overflow-y: auto;
}
h4{
    font-family: var(--roboto);
    font-size: 17.5px;
    text-decoration: none;
    padding: 5px auto 10px 5px;
    margin: 10px auto;
}
